:root {
  --accent-color: #2196f3;
  --main-font:"Roboto", sans-serif;
}
 body {
  font-family: var(--main-font);
 }

 .contact {
  font-style: normal;
}

/* ===============specification===============*/
.visually-hidden{
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

a{
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

p {
margin: 0;
}

img {
  display: block;
}
.container {
  width: 1200px;
  padding: 0 15px;
  margin: auto;
}
.section {
  padding: 94px 0px;
}
/* ===============end specification===============*/
/* =============== HEADER ===============*/
.logo {
font-family:'Raleway', sans-serif;
font-weight: 700;
font-size: 26px;
line-height: 1.192;
letter-spacing: 0.03em;
}
.logo-web {
color: var(--accent-color)
}
.logo-studio{
color: #000000;
}
.link,
.contact-header-tel,
.contact-header-mail {
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.02em;
  color: #212121;
}
.link:hover,
.link:focus,
.modal-btn:hover,
.modal-btn:focus {
  color: var(--accent-color)
}
.navigation-list .link.is-current {
  color: #2196f3;
}
.contact-header-tel,
.contact-header-mail {
  color: #757575;
}
.navigation {
  display: flex;
  align-items: center;
}
.navigation-list {
  display: flex;
}
.contact-list {
  display: flex;
}
.contact-header-tel:hover,
.contact-header-tel:focus,
.contact-header-mail:hover,
.contact-header-mail:focus {
  color: var(--accent-color);
}
.contact-header-mail:focus .icon-contacts,
.contact-header-mail:hover .icon-contacts,
.contact-header-tel:hover .icon-contacts,
.contact-header-tel:focus .icon-contacts {
fill: var(--accent-color);
}
.header .logo {
  margin-right: 93px;
}
.navigation-list-item:not(:last-child),
.contact-list-item:not(:last-child) {
  margin-right: 50px;
}
.header .contact-list {
  margin-left: auto;
}

.header .container {
display: flex;
align-items: center;
padding-top: 24px;
padding-bottom: 24px;
border-bottom: 1px solid #ECECEC;
}
.icon-contacts {
  margin-right: 10px;
  fill: #757575;
}
/* =============== end header =
/* =============== title ===============*/

.hero-list {
  padding-top: 200px;
  padding-bottom: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #2f303a;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.main-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.3636;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-bottom: 30px;
  width: 696px;
  color: #FFFFFF;
  align-items: center;
  text-align: center;
}

.modal-btn {
    min-width: 200px;
    height: 50px;
    background: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.875;
    display: flex;
    text-align: center;
    align-items: center;
    letter-spacing: 0.06em;
    cursor: pointer;
    padding: 10px 32px;
    margin: auto;
    color:#FFFFFF;
}
/* =============== end title ===============*/

/* =============== Features ===============*/
.features {
  padding-top: 94px;
  padding-bottom: 94px;
}
.features-list {
  display: flex;
}
.features-item {
  margin-right: 30px;
}
.features-list-item:not(:last-child) {
  margin-right: 30px;
}

.features-title {
font-weight: 700;
font-size: 14px;
line-height: 1.142;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #212121;
margin-bottom: 10px;
}

.features-description {
max-width: 270px;
font-weight: 400;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: #757575;
}
.thumb {
width:270px;
height:120px;
background: #F5F4FA;
border-radius: 4px;
margin-bottom: 30px;
display: flex;
justify-content: center;
align-items: center;
}
/* =============== end features ===============*/
/* =============== tasks ===============*/
.our-task{
  padding-bottom: 97px;
}
.task .container {
  margin-bottom: 50px;
}
.task-item {
  display: flex;
}

.task-item-list:not(:last-child) {
margin-right: 30px;
}

.task-title {
font-weight: 700;
font-size: 36px;
line-height: 1.166;
letter-spacing: 0.03em;
color: #212121;
text-align: center;
margin-bottom: 50px;
}
/* =============== end tasks ===============*/
/* ===============team ===============*/

.team-section {
  background: #F5F4FA;
  padding-bottom: 94px;
  padding-top: 94px;
}
  
.team-item {
  display: flex;
}
.team-item-list:not(:last-child) {
  margin-right: 30px;
}
.team-item-list {
  background-color: #FFFFFF;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team-name {  
font-weight: 500;
font-size: 16px;
line-height:1.187;
letter-spacing: 0.03em;
color: #212121;
text-align: center;
margin-bottom: 10px;
}

.team-designation{
font-weight: 400;
font-size: 16px;
line-height:1.187;
letter-spacing: 0.03em;
color: #757575;
text-align: center;
margin-bottom: 10px;
}
.team-title {
font-weight: 700;
font-size: 36px;
line-height: 42px;
text-align: center;
letter-spacing: 0.03em;
color: #212121;
margin-bottom: 50px;
}
.team-wrapper {
  padding: 30px 10px;
}

.social-list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #fff;
}

.social-list-link:hover,
.social-list-link:focus {
  background-color:var(--accent-color);
}


.social-list-link:hover .social-list-icon,
.social-list-link:focus .social-list-icon {
  fill: #FFFFFF;
}
.social-list-icon {
  fill: #AFB1B8;
}
/* =============== end team ===============*/
/* =============== our client ===============*/

.our-customer {
  background:#FFFFFF;
  padding-bottom: 94px;
  padding-top: 94px;
}

.customer-list {
  display: flex;
}
.our-customer-title {
font-family: var(--main-font)
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 1.16;
text-align: center;
letter-spacing: 0.03em;
color: #212121;
margin-bottom: 50px;
}
.customer-list-item {
width: 170px;
height: 90px;
border: 1px solid #AFB1B8;
display: flex;
justify-content: center;
align-items: center;
}
.customer-list-item:not(:last-child) {
  margin-right: 30px;
}
.customer-list-icon {
  fill: #AFB1B8;
}
.customer-list-item:hover,
.customer-list-item:focus {
border: 1px solid var(--accent-color);
} 


.customer-list-link:hover .customer-list-icon,
.customer-list-link:focus .customer-list-icon {
  fill: var(--accent-color);
}

/* =============== our client end ===============*/
/* ===============footer ===============*/
.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer .container{
  display: flex;
}
.contact {
  margin-top: 20px;
}

.footer-list-item {
  flex-direction: column;
  display: flex;
}
.contact-footer-map {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: white;
}

.contact-footer-tel,
.contact-footer-mail {
font-weight: 400;
font-size: 14px;
line-height: 1,714;
letter-spacing: 0.03em;
color: rgba(255, 255, 255, 0.6);
}
.contact-footer-tel {
  margin-top: 9px;
  margin-bottom: 9px;
}
.social-list__icon{
  fill: #FFFFFF;
}
.social-list__link:focus,
.social-list__link:hover{
  background:var(--accent-color);
}
.social_links {
  display: flex;
  flex-direction: column;
  margin-left: 70px;
}
.social__list{
  display: flex;
  align-items: center;
  justify-content: center;
  }

.social-list__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color:rgba(255, 255, 255, 0.1);
  margin-right: 10px;
}

.social-links-title {
  font-family: var(--main-font)
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 20px;
}

/* ===============end footer===============*/

/* ===============portfolio page ===============*/
.filtr-btn:hover,
.filtr-btn:focus {
  background: var(--accent-color);
  color: #FFFFFF
}

.button-list {
  display: flex;
  margin-bottom: 50px;
  height: 38px;
  justify-content: center;
}

.button-list-item:not(:last-child) {
  margin-right: 8px;}


.filtr-btn {
font-family: var(--main-font);
height: 38px;
background: #f5f4fa;
border: none;
padding: 6px 22px;
border-radius: 4px;
cursor: pointer;
font-weight: 500;
font-size: 16px;
line-height: 1.625;
text-align: center;
letter-spacing: 0.03em;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  margin-right: -30px;
  margin-bottom: -30px;
}
.portfolio-list-item {
  width: 370px;
  height: 404px;
  margin-right: 30px;
  margin-bottom: 30px;
}

.portfolio-list-item:nth-child(3n) {
  margin-right: 0;
}

.portfolio-list-item:nth-last-child(-n + 3n) {
  margin-bottom: 0;
}

.portfolio-list-item {
  background: #FFFFFF;
  border: 1px solid #eeeeee;
}
.portfolio-list-wrapper {
  padding: 20px 24px;
}

.portfolio-title {
font-weight: 700;
font-size: 18px;
line-height: 2;
letter-spacing: 0.06em;
color: #212121;
margin-bottom: 4px;
}

.portfolio-description {
font-weight: 400;
font-size: 16px;
line-height: 1.875;
letter-spacing: 0.03em;
color: #757575;
}
.footer-logo-studio {
color: #FFFFFF;
}
.portfolio-list-link {
  display: block;
}
.portfolio-list-link:hover,
.portfolio-list-link:focus {
 box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* ===============end portfolio page ===============*/

